body {
    background: #F6FAFD;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 48px 0px 94px 0px;
}

.container {
    width: 620px;
    border-radius: 16px;
    background: #FFF;
}

.content {
    padding: 26px 16px 36px 16px;
}

.notifications {
    display: flex;
    justify-content: space-between;
}

.count {
    display: flex;
}

.notifications .text {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.unread {
    background-color: #F7FAFD;
    cursor: pointer;
}

#notifes {
    color: #DDE7EE;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding: 4px 9px 4px 9px;
    border-radius: 8px;
    background: #0A317B;
    margin-left: 10px;
}

#mark-all {
    cursor: pointer;
}

.notifications button {
    border: none;
    background: none;
    color: #5E6778;
    text-align: center;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mark-webber,
.angela-gray,
.jacob-thompson,
.rizky-hasanddin,
.nathan-peterson,
.kimberly-smith,
.anna-kim {
    border-radius: 8px;
    display: flex;
    margin-top: 16px;
}

.avatar {
    padding: 16px 0px 16px 16px;
}

.title-content {
    padding: 16px 0px 16px 16px;
}

.title .name {
    color: #1C202B;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18.2px;
}

.title .noti-content {
    color: #5E6778;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.2px;
}

.title .des-content {
    color: #5E6778;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18.2px;
}

.time {
    color: #939DAE;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.2px;
}

.message {
    border-radius: 4.8px;
    border: 1px solid #E5EFFA;
    margin: 7px 15px 0px 0px;
}

.message div {
    color: #5E6778;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.2px;
    padding: 17px 43px 16px 17px;
}

.kimberly-smith .avat {
    margin: 15px 0px 0px 197px;
}

.unread .title-content .title::after {
    content: " ";
    background-color: #F65351;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 5px;
}

@media (max-width: 768px) {
    body{
        padding: 0 0;
    }
    .container {
        width: 400px;
    }
    .content {
        padding: 24px 16px 65px 16px;
    }
    .title-content {
        padding: 16px 19px 16px 16px;
    }

    .message {
        margin: 7px -4px 0px;
    }

    .message div {
        padding: 17px 13px 16px 17px;
    }

    .kimberly-smith .avat {
        padding: 0px 16px 0px 0px;
        margin-left: 0px;
    }
}